/* Review notice */
#mcs-review-notice {
  padding: 18px 15px 18px 0;
  background-color: #fff;
  border-radius: 5px;
  margin: 20px 20px 0 0;
  box-shadow: 0 0 20px 0 rgba(36, 39, 50, 0.08);
}

#mcs-review-notice .mcs-plugin-icon {
  width: 125px;
  float: left;
  line-height: 90px;
  text-align: center;
  margin-left: 8px;
}

#mcs-review-notice .mcs-plugin-icon img {
  max-width: 94px;
  vertical-align: middle;
  margin-right: 8px;
}

#mcs-review-notice .mcs-notice-text {
  overflow: hidden;
}

#mcs-review-notice .mcs-notice-text h3 {
  font-size: 24px;
  margin: 0 0 5px;
  font-weight: 400;
  line-height: 1;
}

#mcs-review-notice .mcs-notice-text p {
  margin: 10px 0 10px 0;
  font-size: 13px;
}

#mcs-review-notice .mcs-notice-text p.mcs-review-actions {
  margin: 10px 0 2px 0;
}

#mcs-review-notice .mcs-notice-text .mcs-review-actions a {
  text-decoration: none;
  margin-right: 8px;
  color: #63a37b;
  display: inline-block;
  position: relative;
}

#mcs-review-notice .mcs-notice-text .mcs-review-actions a span {
  padding-right: 2px;
}

#mcs-review-notice .mcs-notice-text .mcs-review-actions a.button {
  color: #fff;
}

.rtl #mcs-review-notice {
  margin: 20px 0 0 20px;
  padding: 18px 0 18px 15px;
}

.rtl #mcs-review-notice .mcs-plugin-icon {
  float: right;
  margin: 0 0 0 8px;
}

#themeatelier-offer-banner {
  padding: 0;
  border: 0;
  line-height: 0;
  background: 0 0;
}
